version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_server_dev
    user: root
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=NearFoodNearFood1234#
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql

volumes:
  sqlserver_data: