<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../resources/css/login.css">
</head>
<body>

    <div class="quadrado-meio">
        
        <div class="marrom">
            
            <div class="circulo">
                <img class="boneco" src ="../../resources/img/logos/entregador__imagem.png"Boneco-nearfood">
            </div>
            
        </div>
        <div class="form-section">

            <div class="logo-container">
                <img src="../../resources/img/logos/nearfood_logo.png" alt="Logo Nearfood" class="logo">
            </div>
            

    


            <h1 class="bemvindo">Bem-Vindo<br>ao<br>Nearfood!</h1>
            
                <form id="formLogin">
                    <input id="email" class="user" type="text" placeholder="Nome de Usuário" required>
                    <input id="senha" class="senha1" type="password" placeholder="Senha" required>
                    <button type="submit" class="entrar-btn">ENTRAR</button>
                    <a href="../../templates/recuperar-senha.html" class="esqueceu-btn">Esqueceu sua senha?</a>
                    <a href="../templates/cadastro.html" class="criar-btn">Criar uma conta</a>
                </form>
                <p id="mensagem"></p>
                <script src="../../resources/js/login.js"></script>

        </div>
    </div>
</body>
</html>



