<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <script src="../static/js/base.js"></script>
</head>

<body>

    <header class="header">
        <div>
            <img src="../static/img/Menu.png">
            <img src="../static/img/nearfood_logo.png">
        </div>

    </header>

    <!--NAVEGAÇÃO LATERAL-->
    <nav class="sidebar">
        
            <ul>
                <li> <a href=""><img src="../static/img/Home.png"> </a></li>
                <li> <a href=""><img src="../static/img/Cutlery.png"> </a></li>
                <li> <a href=""><img src="../static/img/Activity History.png"> </a></li>
                <li> <a href=""><img src="../static/img/Bookmark.png"> </a> </li>
                <li> <a href=""><img src="../static/img/Settings.png"> </a> </li>
            </ul>            
           
        

    </nav>

    <main class="conteudo">

    </main>



</body>

</html>