<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../../../resources/css/login.css">
</head>
<body>

    <div class="quadrado-meio">
        
        <div class="marrom">
            
            <div class="circulo">
                <img class="boneco" src ="../../../../resources/img/entregador__imagem.png" alt="Boneco-nearfood">
            </div>
            
        </div>
        <div class="form-section">

            <div class="logo-container">
                <img src="../../../../resources/img/Logo__icone__nearFood.png" alt="Logo Nearfood" class="logo">
            </div>

            


            <h1 class="bemvindo">Bem-Vindo<br>ao<br>Nearfood!</h1>


            <form>
                <input class="user" type="text" placeholder="Nome de Usuário" required>
                <input class="senha1"type="password" placeholder="Senha" required>
                <button type="submit" class="entrar-btn">ENTRAR</button>
                <a href="../../templates/recuperar-senha.html" class="esqueceu-btn">Esqueceu sua senha?</a>
                <a href="../../templates/users/cadastro.html" class="criar-btn">Criar uma conta</a>

            </form>
        </div>
    </div>

</body>
</html>