# Framework e Banco de Dados (Mantivemos as versões principais, mas soltamos o pyodbc)
Django==5.2.7
djangorestframework==3.16.1
mssql-django
pyodbc

# Utilitários de Sistema/Projeto
python-dotenv
pytz
PyJWT
cryptography
django-cors-headers

# Utilitários de Rede e Texto (SEM VERSÃO = O pip resolve o conflito sozinho)
requests
urllib3
idna
certifi
chardet
click
colorama
distro
geographiclib
geopy
httplib2
importlib-metadata
jsonschema
keyring
more-itertools
netaddr
oauthlib
protobuf
pyparsing
pyRFC3339
pyrsistent
PyYAML
six
sqlparse
texttable
typing_extensions
websocket-client
zipp
asgiref
attrs